<div class="accordion" id="accordionSettings">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingInvestigators">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInvestigators"
        aria-expanded="true" aria-controls="collapseInvestigators">
        Investigator count
      </button>
    </h2>
    <div id="collapseInvestigators" class="accordion-collapse collapse show" aria-labelledby="headingInvestigators">
      <div class="accordion-body">
        <div class="btn-group" role="group" aria-label="Investigator count radio group">
          <input type="radio" class="btn-check" name="btnradioInvestigator" value="1" id="btnradioInvestigator1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradioInvestigator1">1</label>        
          <input type="radio" class="btn-check" name="btnradioInvestigator" value="2" id="btnradioInvestigator2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradioInvestigator2">2</label>    
          <input type="radio" class="btn-check" name="btnradioInvestigator" value="3" id="btnradioInvestigator3" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradioInvestigator3">3</label>
          <input type="radio" class="btn-check" name="btnradioInvestigator" value="4" id="btnradioInvestigator4" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradioInvestigator4">4</label>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingCycles">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCycles"
        aria-expanded="true" aria-controls="collapseCycles">
        Select weaknesses to include
      </button>
    </h2>
    <div id="collapseCycles" class="accordion-collapse collapse show" aria-labelledby="headingCycles">
      <div class="accordion-body">
        <div class="form-check form-switch">
          <input class="form-check-input check-core" type="checkbox" id="switchcor" checked>
          <label class="form-check-label" for="switchcor">Core Box</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-dunwich" type="checkbox" id="switchdun" checked>
          <label class="form-check-label" for="switchdun">The Dunwich Legacy</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-carcosa" type="checkbox" id="switchcar" checked>
          <label class="form-check-label" for="switchcar">The Path to Carcosa</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-forgotten" type="checkbox" id="switchfor" checked>
          <label class="form-check-label" for="switchfor">The Forgotten Age</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-circle" type="checkbox" id="switchcir" checked>
          <label class="form-check-label" for="switchcir">The Circle Undone</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-dream" type="checkbox" id="switchdre" checked>
          <label class="form-check-label" for="switchdre">The Dream Eaters</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-innsmouth" type="checkbox" id="switchinn" checked>
          <label class="form-check-label" for="switchinn">The Innsmouth Conspiracy</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-edge" type="checkbox" id="switchedg" checked>
          <label class="form-check-label" for="switchedg">The Edge of the Earth</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-scarlet" type="checkbox" id="switchsca" checked>
          <label class="form-check-label" for="switchsca">The Scarlet Keys</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-feast" type="checkbox" id="switchhem" checked>
          <label class="form-check-label" for="switchhem">Feast of Hemlock Vale</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-drowned" type="checkbox" id="switchdro" checked>
          <label class="form-check-label" for="switchdrow">The Drowned City</label>
        </div>
        <hr />
        <div class="form-check form-switch">
          <input class="form-check-input check-dunwich-return" type="checkbox" id="switchdunret" checked>
          <label class="form-check-label" for="switchdunret">Return to the Dunwich Legacy</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-carcosa-return" type="checkbox" id="switchcarret" checked>
          <label class="form-check-label" for="switchcarret">Return to the Path to Carcosa</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-forgotten-return" type="checkbox" id="switchforret" checked>
          <label class="form-check-label" for="switchforret">Return to the Forgotten Age</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-circle-return" type="checkbox" id="switchcirret" checked>
          <label class="form-check-label" for="switchcirret">Return to the Circle Undone</label>
        </div>
        <hr />
        <div class="form-check form-switch">
          <input class="form-check-input check-guardian" type="checkbox" id="switchgua" checked>
          <label class="form-check-label" for="switchgua">Nathanial Cho</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-seeker" type="checkbox" id="switchsee" checked>
          <label class="form-check-label" for="switchsee">Harvey Walters</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-rogue" type="checkbox" id="switchrog" checked>
          <label class="form-check-label" for="switchrog">Winnifred Habamock</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-mystic" type="checkbox" id="switchmys" checked>
          <label class="form-check-label" for="switchmys">Jacqueline Fine</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input check-survivor" type="checkbox" id="switchsur" checked>
          <label class="form-check-label" for="switchsur">Stella Clark</label>
        </div>
      </div>
    </div>
  </div>
</div>